a.botao
	clear: both
	display: table
	margin: calcRem(40) auto calcRem(20) auto
	border: 2px solid $preto
	color: $preto
	padding: calcRem(10) calcRem(20)
	+border-radius(8px)
	text-transform: uppercase
	font-size: calcRem(20)
